  <div class="top-container parallax">
    <div class="banner"></div>
    <%= render 'shared/searchbar' %>
  </div>
  <div class="container">

    <div
    id="map"
    style="width: 100%;
    height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    <div class="icons">
      <%= link_to "restaurant", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "school", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "park", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "car", maps_path, remote: true, class:"round-button clickable" %>
    </div>
    <div class="icons">
      <%= link_to "bike", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "dog", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "quiet", maps_path, remote: true, class:"round-button clickable" %>
      <%= link_to "family", maps_path, remote: true, class:"round-button clickable" %>
    </div>
  </div>
