<!-- <div class="image" >
  <div class="mockup" >
    <%= image_tag "Mile-End-1.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "Mile-End-2.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "Mile-End-3.jpg", class:"image-section"  %>
  </div>
  <div class="mockup" >
    <%= image_tag "Mile-End-4.png", class:"image-section"  %>
  </div>
</div>
 -->

<div>
      <%= image_tag "Mile-End-1.jpg", class:"d-block w-100"  %>
</div>
