<h1>Explore the neighbourhood <%= @district.name %></h1>


<div class="d-flex justify-content-between btn-container">
	<div class="d-flex flex-column justify-content-between mr-4">
		<button type="button" id="restaurant-btn" class="btn-show-category">RESTAURANTS</button>
		<button type="button" class="btn-show-category">BARS</button>
		<button type="button" id="school-btn" class="btn-show-category">SCHOOLS</button>
		<button type="button" id="park-btn" class="btn-show-category">PARKS</button>
		<button type="button" id="subway-btn" class="btn-show-category">Subway stations</button>
		<button type="button" class="btn-show-category">COFFEES</button>
		<button type="button" class="btn-show-category">HOUSES FOR SELL</button>
	</div>

	<div
		class="map mr-4"
		id="show-map"
		style="width: 100%;
		height: 500px;"
		data-markers="<%= @markers.to_json %>"
		data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
		data-center="<%= @district.location.to_json %>"
		data-coordinates="<%= @district.coordinates.to_json %>"
		data-restaurants="<%= @restaurant_coordinates.to_json %>"
		data-schools="<%= @school_coordinates.to_json %>"
		data-parks="<%= @park_coordinates.to_json %>"
		data-subways="<%= @subway_coordinates.to_json %>"
	>
	</div>


</div>



<%= link_to "Back to main page", districts_path, class:"btn btn-secondary btn-lg" %>
