<%= render 'shared/navbar' %>
<div class="d-flex justify-content-center">
	<h2>Explore the neighbourhood <strong><%= @district.name %></strong></h2>
</div>


<div class="d-flex justify-content-between btn-container">
	<div class="d-flex flex-column justify-content-between mr-4">
		<button type="button" id="restaurant-btn" class="btn-show-category"><p>RESTAURANTS</p></button>
		<button type="button" class="btn-show-category"><p>BARS</p></button>
		<button type="button" id="school-btn" class="btn-show-category"><p>SCHOOLS</p></button>
		<button type="button" id="park-btn" class="btn-show-category"><p>PARKS</p></button>
		<button type="button" id="subway-btn" class="btn-show-category"><p>METRO STATIONS</p></button>
		<button type="button" class="btn-show-category"><p>COFFEES</p></button>
		<button type="button" class="btn-show-category"><p>HOUSES FOR SELL</p></button>
	</div>

	<div
		class="map mr-4"
		id="show-map"
		style="width: 100%;
		height: 500px;"
		data-markers="<%= @markers.to_json %>"
		data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
		data-center="<%= @district.location.to_json %>"
		data-coordinates="<%= @district.coordinates.to_json %>"
		data-restaurants="<%= @restaurant_coordinates.to_json %>"
		data-schools="<%= @school_coordinates.to_json %>"
		data-parks="<%= @park_coordinates.to_json %>"
		data-subways="<%= @subway_coordinates.to_json %>"
	>
	</div>


</div>
