<%= render 'shared/navbar' %>
<div class="d-flex justify-content-center">
	<h1 class="title-show"><strong><%= @district.name %></strong></h1>
</div>
<div class="d-flex justify-content-between btn-container">
	<div class="d-flex flex-column justify-content-between mr-4">
		<button type="button" data-value="restaurants" id="restaurant-btn" class="btn-show-category"><i class="fas fa-utensils"></i></button>
		<button type="button" data-value="bars" class="btn-show-category"><i class="fas fa-beer"></i></button>
		<button type="button" data-value="schools" id="school-btn" class="btn-show-category"><i class="fas fa-graduation-cap"></i></button>
		<button type="button" data-value="subways" id="subway-btn" class="btn-show-category"><i class="fas fa-subway"></i></button>
		<button type="button" data-value="bixis" id="bixi-btn" class="btn-show-category"><i class="fas fa-bicycle"></i></button>
		<button type="button" data-value="gyms" id="gym-btn" class="btn-show-category"><i class="fas fa-dumbbell"></i></button>
		<button type="button" data-value="coffees" id="coffee-btn" class="btn-show-category"><i class="fas fa-coffee"></i></button>
		<!-- <button type="button" data-value="schools" class="btn-show-category"><p>HOUSES FOR SELL</p></button> -->
	</div>

	<div class="w-100 position-relative">
		<div
			class="map mr-4"
			id="show-map"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
			data-center="<%= @district.location.to_json %>"
			data-coordinates="<%= @district.coordinates.to_json %>"
			data-restaurants="<%= @restaurant_coordinates.to_json %>"
			data-schools="<%= @school_coordinates.to_json %>"
			data-bars="<%= @bar_coordinates.to_json %>"
			data-subways="<%= @subway_coordinates.to_json %>"
	    data-coffees="<%= @cafe_coordinates.to_json %>"
	    data-gyms="<%= @gym_coordinates.to_json %>"
	    data-bixis="<%= @bixi_coordinates.to_json %>"
		>
		</div>

		<div id="map-card" width="400px">
			<button class="map-btn btn btn-primary mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="button-show">
			<p>Summary of <strong><%= @district.name %></strong></p>
			</button>
			<div class="collapse" id="collapseExample">
			  <div class="card card-body width=" id="map-card-down">
			  	<p>- Median age: <strong><%= @district.age %> years old</strong></p>
          <p>- Language: <strong><%= @district.language %></strong></p>
          <p>- Average rent price: <strong><%= @district.rent_rate %> $</strong></p>
          <p>- Crime rate: <strong><%= @district.crime_rate %></strong></p>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel-slide" data-ride="false">

    <div class="text-center">
    <h2>Neighbourhood's reviews</h2>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active container-fluid">

        <div class="review-cards">

          <div class="review-card">
            <div class="text-center">
              <%= image_tag "martin.jpg", class:"image-review"  %>
            </div>
            <h2 class="testimonial-text">I love the proximity with everything, it is my favorite neighbourhood in Montreal. It's warm atmosphere makes you feel good.</h2>
          </div>

          <div class="review-card">
            <div class="text-center">
              <%= image_tag "seb.jpg", class:"image-review" %>
            </div>
            <h2 class="testimonial-text">Little known to tourists, this area is really nice.So many activities for the family ,very good restaurants,local food stands</h2>
          </div>
        </div>

      </div>

      <div class="carousel-item container-fluid ">
        <div class="review-cards">

          <div class="review-card">
            <div class="text-center">
              <%= image_tag "stephane.jpeg", class:"image-review"  %>
            </div>
            <h2 class="testimonial-text">With some of the best cafes, restaurants, bars and local independent shops, it is a must for anyone living or visiting Montreal.</h2>
          </div>

          <div class="review-card">
            <div class="text-center">
              <%= image_tag "steph.jpg", class:"image-review" %>
            </div>
            <h2 class="testimonial-text"> Fun place for strolling with a good selection of coffe shops and eateries, book stores and funky resale shops. The perpendicular streets are really quiet</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <%= render 'shared/footer' %>





